/* Styles for page */
body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    height: 100vh;
}

/* Header Styles */
header.bar {
    margin: 20px 0;
    padding: 0 30px;
    background-color: #333333;

    text-align: center;
    color: white;

    border-radius: 10px;
    
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2em;
}

/* Container for canvas and menu */
.container {
    
    display: flex;
    gap: 20px;
}

/* CANVAS Style */
.canvas {
    background-color: #bbbbbb;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 600px;
    width: 600px;
}

/* side-bar Style*/
.side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-bar h2 {
    margin: 0;
    text-align: center;
    color: #333333;
}

.side-panel {
    width: 450px;
    padding: 20px;
    background-color: #f9f9f9;

    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */

    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.settings-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.setting {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.setting-name {
    width: 80px;
}

/* COLORS Style*/
#color-cell {
    margin: 0;
}

.color-input {
    height: 50px;
    width: 48px;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.color-input::-webkit-color-swatch{
    border: 1px solid #000000;
    border-radius: 10px;
}

/* BUTTONS Style*/
.buttons-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.buttons-panel button {
    padding: 10px 20px;
    border-radius: 5px;

    border: none;
    background-color: #333;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

/* p {
    word-wrap: break-word;
    word-break: break-all;
} */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212121df;
    justify-content: center;
    align-items: center;
}

.rules {
    background-color: #fff;
    padding: 13px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    max-width: 470px;
}

.rules h2 {
    text-align: center;
    
}

.close-button {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

ul {
    margin-top: 10px;
}